.container {
    margin-left: 80px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    width: max-content;
    background-color: #fff;
    border: 2px solid #C42E1D;
    padding: 8px 12px;
    color: #C42E1D;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 0px 10px auto;
}

.add-btn i {
    margin-right: 5px;
}

.add-btn:hover {
    background-color: #C42E1D;
    color: #fff;
}

.search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px;
    border: 1px solid #C42E1D;
    border-radius: 5px 0px 0px 5px;
    margin-right: -1px;
}

.search-container button {
    padding: 8px 12px;
    border: 1px solid #C42E1D;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-color: #C42E1D;
    color: #fff;
}

.search-container button i {
    margin-right: 5px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    border-radius: 10px;
}

.table thead {
    background-color: #C42E1D;
    color: #fff;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.action-buttons {
    text-align: center;
}

.btn-view {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 1px solid #28a745;
}

.btn-edit {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 1px solid #fbff00;
}

.btn-delete {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 1px solid #dc3545;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    background: #fff;
    padding: 0px 0px 10px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.modal-content h3 {
    background-color: #C42E1D;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.modal-content p {
    margin-left: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modal-content button {
    background-color: #C42E1D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.modal-content button:last-child {
    margin-right: 0;
}

#viewContent,
#addContent,
#editContent {
    margin-bottom: 10px;
    padding: 10px;
}

#editContent input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#addContent input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.grand-total {
    text-align: right;
    margin-right: 13%;
}

.print-btn {
    background-color: #fff;
    border: 2px solid #C42E1D;
    padding: 8px 16px;
    color: #C42E1D;
    cursor: pointer;
    border-radius: 5px;
}

.print-btn i {
    margin-right: 5px;
}

.print-btn:hover {
    background-color: #C42E1D;
    color: #fff;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .container {
        margin-left: 0;
    }

    .sidenav,
    .navbar,
    .chart,
    .print-btn {
        display: none !important;
    }
}
